@using ZoolandiaMVC.Models
@model List<Animal>
@{
    ViewBag.Title = "Animals";
}

<h2>Animals</h2>
<h3>List all animals here...</h3>

<ul>
  @foreach (var animal in Model)
  {
    <li>@animal.name</li>
  }
</ul>