@model ZoolandiaMVC.Models.HabitatEmployees

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>HabitatEmployees</h4>
        <hr />
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="ID" />
        <div class="form-group">
            <label asp-for="IdEmployee" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdEmployee" class="form-control" />
                <span asp-validation-for="IdEmployee" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdHabitat" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdHabitat" class="form-control" />
                <span asp-validation-for="IdHabitat" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="IdHabitatEmployees" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="IdHabitatEmployees" class="form-control" />
                <span asp-validation-for="IdHabitatEmployees" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

